# Shared
NODE_ENV=development

# apps/web
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
ADMIN_PASSWORD=change-me

# apps/api
PORT=4000
CORS_ORIGIN=http://localhost:3000
DISCORD_BOT_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
