MOODLE_VERSION=5.2.1
MOODLE_URL=http://localhost:8080
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=Admin123!
MOODLE_ADMIN_EMAIL=admin@example.test

POSTGRES_DB=moodle
POSTGRES_USER=moodle
POSTGRES_PASSWORD=moodle

MOODLE_SITE_FULLNAME="Web3 Talents Moodle"
MOODLE_SITE_SHORTNAME="Web3 Talents"
WEB3T_PHASE2_TEST_PASSWORD=ChangeMe123!
